h1 {
    font-family: Comic Sans MS;
    color: rgb(0,0,204);
    font-size:300%;
    margin: 20px;
    padding: 0.5px;
  }
  h2, h3 {
    font-family:Arial;
    color: rgb(0,102,0);
    padding:0.5px;
  }
  label {
    color: rgb(250,250,250);
  }
  body {
    background-color:black;
  }
  p {
    color: rgb(250,250,250);
    font-size:200%;
    padding:0.25px;
    margin:5px;
  }
  form {
    color: rgb(250,250,250);
    font-size:100%;
    padding:0.25px;
    margin:5px;
  }